$sign-up-button: #caa892;
$architecture-color: #caa892;
$container-width: 1333px;
$button-hover: #2f6b5a;
$button-color: #37806b;
$button-text: #fff;
$text-block-color: #646464;
$completed-background: #f8f8f8;
$completed-text-color: #646464;
$slide-content-padding: 3em;
$slide-margin: 4em;
$text-color: #646464;
$quotes-color: #b0855b;
$footer-background: #f8f8f8;
$social-background: #d5d5d5;
